@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html, body {
  height: 100%;
}
audio::-internal-media-controls-download-button { display: none; }
audio::-webkit-media-controls-enclosure { overflow: hidden; }
.no-select { user-select: none; }
